body{
  padding:20px 50px;
}
.page-header{
  text-align: center;
  min-height: 10em;
  border-style: solid;
  border-color: skyblue;
  padding: 35px;
  padding-top: 50px;
}
.firstRow{
    margin: 20px;
}
img{
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.well-sm{
  text-align: center;
  min-height: 3em;
  padding-top: 10px;
  border-style: solid;
  border-color: skyblue;
}
.profilePicture{
  text-align: center;
  min-height: 5em;
  border-style: solid;
  border-color: skyblue;
  padding: 35px;
  padding-top: 20px;
  margin: 5px;
}
.secondRow{
  margin: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.details{
  min-height: 500px;
  border-style: solid;
  border-color: skyblue;
  margin: 5px
}
.bottom{
  min-height: 7em;
  border-style: solid;
  border-color: skyblue;
  padding:0px;
}
.side{
  text-align: center;
  padding-top: 40px;
}
