<body>
<div class="page-header">
  <h1 appHighlight>Github Search</h1>
</div>
<div class="container-fluid">
  <div class="row firstRow justify-content-center">
    <div class="col-md-5 profilePicture picture">
      <div class="text-left">
        <img src="./assets/Screenshot from 2019-01-16 23-13-03.png" alt="">
      </div>
    </div>

    <div class="col-md-6 profilePicture form">
      <form>
      <div class="form-group text-right">
          <span><input type="text" required  id="name"></span>
          <button for="search">Search</button>
      </div>
  </form>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row secondRow justify-content-center">
    <div class="col-md-10 details">

    </div>
  </div>
</div>
<div class="container-fluid outterfooter">
  <div class="footer">
    <div class="row justify-content-center bottom">
      <div class="col-md-12 side">
        footer
      </div>
    </div>
  </div>
</div>
</body>
<router-outlet></router-outlet>

 <!-- 4839d62f55e8354a76677e80197f41a0f58b3441 -->
