<div class="container">
  <div class="navbar">
    {{mm.login}}
    <h1 appHighlight>Github Search</h1>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <input type="text" name="" value="" [(ngModel)] ="userName" (keyup.enter)="ngOnInit()" name= "userName" >
        <span><button type="button" name="button">Search</button></span>
      </div>
      <div class="row">
        <img class= "img-thumbnail" src="{{mm.avatar_url}}" alt="">
      </div>
    </div>
    <div class="col-md-6">
      <div class="navbar">
        <h1 appHighlight>Repositories</h1>
      </div>
      <div class="row" >
        <div>
          <br>
          <br>
          <span class="">{{mm.followers}} Follower</span>
          <span class="">{{mm.following}} Following</span>
          <span class="">{{mm.public_repos}} Public Repositories</span>
        </div>
      </div>
    </div>
  </div>

<div *ngFor='let repo of repoArrayNew, let i = index'>
{{repo.name}}
</div>


</div>
