<div class="container">
  <div class="navbar">
    {{mm.login}}
    <h1>Github Search</h1>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <input type="text" name="" value="">
      </div>
      <div class="row">
        <img class= "img-thumbnail" src="{{mm.avatar_url}}" alt="">
      </div>
    </div>
    <div class="col-md-8">

      <div class="row">
        <ol>
          <li>{{mm.followers}} Follower</li>
          <li>{{mm.following}} Following</li>
          <li>{{mm.public_repos}} Public Repositories</li>
        </ol>
      </div>
    </div>
  </div>
  <div class="navbar">
    <h1>Repositories</h1>
  </div>
  <div class="row" >
    <div>

    </div>
  </div>
</div>
